/*****************************************************************************/
/*
/* Variaveis
/*
/*****************************************************************************/

$bgColor: #FFF;
$baseColor: #3a3f48;
$baseContrastColor: #fff;

$HeaderBgColor: #F2F2F2;

$linkBg: #FFF;
$linkColor: #f11a1f;
$linkColorHover: #FF4D4D;
$linkColorVisited: $linkColor;
